<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookVueWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookVueWebApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0-beta3/css/all.min.css"/>
</head>
<body>
    <header>
        <div class="header-buttons">
            <a class="btn" asp-area="" asp-page="/Books">
                <button>Books</button>
            </a>
            <button>Quotes</button>
            <button>Blog</button>
        </div>
        <h1>BookVue Web Shop</h1>
        <a class="logo" asp-area="" asp-page="/Index">
            <img src="https://i.imgur.com/yQGEIdF.png" alt="Website Logo" width="100">
        </a>
        <div class="header-buttons">
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn" asp-area="" asp-page="/SignUp">
                    <button>Sign Up</button>
            </a>
            }
            else
            {
                <a class="btn" asp-area="" asp-page="/Profile">
                    <button>Profile</button>
                </a>
                <a class="btn" asp-area="" asp-page="/SignUp">
                    <button>Log Out</button>
                </a>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2023 - BookVueWebApplication - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>