html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #F5DEB3;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    border-radius: 50%; /* Makes the logo round */
    border: 2px solid #fff; /* Add a white border for contrast */
}

.header-buttons {
    display: flex;
    gap: 20px;
}

    .header-buttons button {
        background-color: transparent;
        color: #fff;
        border: none;
        cursor: pointer;
    }

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Ad banner section */
.ad-banner {
    text-align: center;
    margin-bottom: 20px;
}

    .ad-banner img {
        max-width: 100%;
    }

/* Book recommendation section */
.recommendation {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Search box */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    .search-box input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

/* Explore genres section */
.genres {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    text-align: center; /* Center the genre items */
}

.genre-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    width: calc(25% - 20px); /* 25% width for each genre item with 20px margin between them */
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}