@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Welcome to our BookVue website, where we are dedicated to bringing you in-depth book reviews and a carefully curated selection of titles for your reading pleasure. We value your trust and privacy, and we want to ensure that your personal information is handled with the utmost care and transparency. Our privacy policy is designed to provide you with a clear understanding of how we collect, use, and protect your data. We do not share your personal information with third parties without your consent, and we take every measure to secure your data from unauthorized access. Your trust is essential to us, and we are committed to maintaining the highest standards of privacy protection while offering you the best book-related content and services. Please take a moment to review our privacy policy for a more detailed explanation of our practices and safeguards. Thank you for choosing us as your source for all things books. Happy reading!






</p>
