@page
@model BookVueWebApplication.Pages.SignUpModel

<!DOCTYPE html>
<html>
<head>
    <style>
        form {
            border: 3px solid #f1f1f1;
            width: 50%;
            margin: 0 auto;
            padding: 20px;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .suBtn {
            border-radius: 2px;
            color: #ffffff;
            background-color: #E7B366;
            box-shadow: 0px 2px 5px 1px rgba(231,179,102,0.72);
            font-family: Barlow, Helvetica, Arial, sans-serif;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>
<body>

    <br />

    <form method="post" novalidate>
        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="Email" asp-for="Email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="Password" asp-for="Password" required>

            <button class="suBtn" type="submit">Sign Up</button>
        </div>

        <div class="container">
            <span class="psw">Already have an account? <a href="#">Sign In</a></span>
        </div>
    </form>

    
</body>
</html>

